{% load staticfiles %}
{% load compress %}

<html>
	<head>
		<title>Test blog post</title>
		{# <link rel="stylesheet" href="{% static 'css/blog.css' %}">		 #}
		<script src="https://use.fontawesome.com/ade8812c0f.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
		
		{% compress css %}
			<link href="{% static 'css/app.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
		{% endcompress %}
		
	</head>
	<body>		
		<div class="priNav">
			<div class="identity">
				<a href="#">
					O
				</a>
			</div>
			<div class="menuHamburger">
				<a href="#">
					<div id="nav-icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>
			<div class="mediaSocial">
				<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="contain">
			<div class="page-header">
				{% if user.is_authenticated %}
					<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				{% endif %}
				<h1><a href="/">TEST</a></h1>
			</div>

			

			<div class="content container">
				<div class="row">
					<div class="col-md-8">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
			
			<div class="quote">
				<div class="row">
					<div class="col-md-8 center">
						lala
					</div>
				</div>
			</div>
			
			
		</div>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{% static 'js/vendor/foundation.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/custom/init-foundation.js' %}"></script>
	</body>
</html>