{% extends 'blog/base.html' %}

{% block content %}


			<div class="grid-x">
				<div class="small-12 cell">
					<div class="page-header">
						{% if user.is_authenticated %}
							<a href="{% url 'post_new' %}" class="top-menu">
								<i class="fa fa-user-circle-o" aria-hidden="true"></i>
							</a>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="grid-x">
				<div class="small-12 cell">
					<div class="small-10 cell small-offset-1">
						<p class="quote">
							Duis dolor elit ut ex quis molestie consequat nonummy et eum laoreet blandit sit. Consectetuer aliquip elit, feugait praesent in iriure.
						</p>
					</div>
				</div>
			</div>




	{% for post in posts %}
		

<!--			LAST ARTICLE - FIRST PAGE		-->
			<div class="grid-x relative">
				<div class="small-12 medium-5 cell">
					<div class="coverimg-article">

					</div>
				</div>
				<div class="small-12 medium-7 cell">
					<div class="cover-allText">
						<div class="cover-titleOfArticle">
							<h1>
								{{ post.title }}
							</h1>
						</div>
						<div class="cover-text">
							<p class="cover-resume">
								{{ post.text|linebreaksbr }}
							</p>
							<p class="cover-date">
								{{ post.published_date }}
							</p>
						</div>
					</div>
					<div class="cover-numberBg">
						<p>
							07
						</p>
					</div>
					<div class="cover-buttonGoInArticle">
						<a href="{% url 'post_detail' pk=post.pk %}">
							<i class="link-button fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>

	{% endfor %}

{% endblock %}