{% extends 'blog/base.html' %}

{% block content %}

	
<!--			ARTICLE - PAGE DETAILS	-->
					<div class="grid-x article-relative">
						<div class="small-12 medium-12 large-8 large-offset-1 cell">
							<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-edit"></i></a>
							<div class="article-textAll">
								<div class="article-textDate">
									{% if post.published_date %}
										<p>{{ post.published_date|date:"l" }}</p>
									{% endif %}
								</div>
								<div class="article-textTitle">
									<h1>
										{{ post.title }}
									</h1>
								</div>
								<div class="article-text">
									<p>
										{{ post.text|linebreaksbr }}
									</p>
								</div>
								<div class="article-textAuthor">
									<p>
										Léonie Dumont
									</p>
								</div>
							</div>
						</div>
						<div class="small-12 medium-12 large-3 cell">
							<div class="article-img">
								<img src="../../static/img/coverimg.jpg">
								<img src="../../static/img/coverimg_article5.jpg">
								<img src="../../static/img/coverimg_article6.jpg">
							</div>
						</div>
						<div class="article-thingsAbsolute">
							<div class="article-numberBg">
								<p>
									07
								</p>
							</div>
							<div class="article-returnButton">
								<a href="{% url 'post_list' %}">
									<i class="link-button fa fa-angle-left" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>


{% endblock %}


