/*=========================================
				-- FONTS --
=========================================

Number in bg		:	Dense				:	font-family: "dense";
Title				:	Playfair display	:	font-family: 'Playfair Display', serif;
Text				:	Avenir next			:	font-family: "avenir";
*/


@font-face {
	font-family: "avenir";
	src: url('../fonts/avenir.otf');
}

@font-face {
	font-family: "dense";
	src: url('../fonts/dense.otf');
}



/*=========================================
				-- COLORS --
=========================================

background-color		:	#ffffff;
color for text			:	#000000;
color for number in bg	:	#F4F4F4;
main color				:	#E66161;

*/

/*=========================================
			-- BODY & WINDOWS --
=========================================*/

body {
	background-color: $white;
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
}


.fixed {
	position: fixed;
	background-color: $white;
}

.relative {
	position: relative;
	height: calc(100vh - 20px);
	margin: 10px 10px 10px 0;
	
	
	@include breakpoint(medium) {
		margin-bottom: 100px;
		height: calc(100% - 40px);
		margin: 20px 20px 20px 0;
	}
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}



/*=========================================
				-- NAV --
=========================================*/

.priNav {
	height: calc(100vh - 40px);
	margin: 20px 20px 20px 20px;
	font-family: 'Playfair Display', serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	@include breakpoint(small only) {
		height: calc(100vh - 20px);
		margin: 10px 10px 10px 10px;
	}
}

.identity, .menuHamburger, .mediaSocial {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	
	a, span {
		height: 30px;
		width: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25px;
		color: #E66161;
		font-family: "avenir";
		
		&.transparent {
			color: $white;
		}
	}
}




/*----------------- BURGER -----------------*/


#nav-icon {
	width: 25px;
	height: 30px;
	position: relative;
	margin: 50px 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #E66161;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
	top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
	top: 9px;
}

#nav-icon span:nth-child(4) {
	top: 18px;
}

#nav-icon.open span:nth-child(1) {
	top: 9px;
	width: 0%;
	left: 50%;
}

#nav-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
	top: 9px;
	width: 0%;
	left: 50%;
}




/*=========================================
				-- CONTAIN --
=========================================*/

.contain {
	height: auto;
	width: 100%;
	
}



// ------------ PAGE HEADER ------------------------------


.page-header {
	background-color: #ff85a2;
	background-image: url(../img/coverimg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: calc(100vh - 40px);
	margin: 20px 20px 20px 0;
	
	@include breakpoint(small only) {
		height: calc(100vh - 20px);
		margin: 10px 10px 10px 0;
	}
}


/*=========================================
				-- QUOTE --
=========================================*/

p.quote {
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	line-height: 17px;
	color: #E66161;
	text-align: center;
	margin: 50px 0;
	
	@include breakpoint(medium) {
		font-size: 25px;
		line-height: 33px;
	}
	
	@include breakpoint(large) {
		font-size: 35px;
		line-height: 53px;
		margin: 100px 0;
	}
}




/*=========================================
		  -- POST LIST & COVER --
=========================================*/

.coverimg-article {
	overflow: hidden;
	height: 100%;
	background-image: url(../img/coverimg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	@include breakpoint(small only) {
		height: 40%;
	}
}


// ------------ ALL TEXT ------------------------------------

.cover-allText {
	position: relative;
	height: 100%;
	width: 100%;
	margin-left: 30px;
	
	@include breakpoint(small only) {
		height: 60%;
		margin-left: 0;
	}
}

.cover-titleOfArticle {
	max-width: 550px;
	margin: 15% 0 40px -20%;
	
	@include breakpoint(small only) {
		margin-left: 0;
		padding: 0 20px 0 0;
	}
	
	h1 {
		font-family: 'Playfair Display', serif;
		font-size: 30px;
		color: $black;
		text-transform: lowercase;
		
		@include breakpoint(medium) {
			font-size: 50px;
		}
		
		@include breakpoint(large) {
			font-size: 70px;
		}
	}
}

.cover-text {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
	@include breakpoint(small only) {
		max-width: calc(100% - 40px);
		margin: 10% 20px 0 0;
	}
	
	.cover-resume {
		font-family: "avenir";
		font-size: 14px;
		line-height: 23px;
		color: $black;
		
		@include breakpoint(medium) {
			font-size: 17px;
		}
	}
	
	.cover-date {
		font-family: "dense";
		font-size: 17px;
		color: #E66161;
		margin-top: 30px;
		
		@include breakpoint(medium) {
			font-size: 20px;
		}
	}
}



// ------------ EN BG ------------------------------------


.cover-numberBg {
	position: absolute;
	height: 100%;
	width: 50%;
	bottom: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
	
	@include breakpoint(small only) {
		right: 0;
		bottom: 0;
	}
	
	p {
		font-family: "dense";
		font-size: 250px;
		color: #F4F4F4;
		position: absolute;
		right: -25px;
		bottom: 0;
		
		@include breakpoint(medium) {
			font-size: 450px;
			right: -50px;
			bottom: -300px;
		}
		
		@include breakpoint(large) {
			font-size: 590px;
			right: -56px;
			bottom: -350px;
		}
	}
}

.cover-buttonGoInArticle {
	position: absolute;
	right: 30px;
	top: 50%;
	bottom: 50%;
	
	@include breakpoint(small only) {
		right: 0;
	}
	
	i {
		font-size: 40px;
		color: #E66161;
	}
}





/*=========================================
			-- POST DETAILS --
=========================================*/


.article-relative {
	position: relative;
	
	.article-thingsAbsolute {
		
		.article-numberBG {
			position: absolute;
			left: -80px;
			top: -250px;
			z-index: -10;
			
			@include breakpoint(small only) {
				left: -30px;
				top: -150px;
			}
			
			p {
				font-family: "dense";
				font-size: 250px;
				color: #F4F4F4;
				position: absolute;

				@include breakpoint(medium) {
					font-size: 450px;
				}

				@include breakpoint(large) {
					font-size: 590px;
				}
			}
		}
		
		.article-returnButton {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
			
			@include breakpoint(large) {
				top: 50%;
			}
			
			i {
				font-size: 40px;
				color: #E66161;
			}
		}
	}
}
 

// ---------------------- TEXT -----------------------

.article-textAll {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 10% 0 0;
	margin: 10px 0;
	
	@include breakpoint(medium) {
		height: 100%;
	}
	
	@include breakpoint(medium only) {
		padding: 50px 20px 0 0;
	}
	
	.article-textDate {
		font-family: "dense";
		color: #E66161;
		font-size: 17px;
	}
	
	.article-textTitle {
		max-width: 650px;
		margin: 30px 0;
		
		h1 {
			font-family: 'Playfair Display', serif;
			color: $black;
			font-size: 30px;
			
			@include breakpoint(medium) {
				font-size: 50px;
			}

			@include breakpoint(large) {
				font-size: 70px;
			}
		}
	}
	
	.article-text {
		font-family: "avenir";
		
		@include breakpoint(medium) {
			max-height: 100vh;
			overflow: scroll;
			border-bottom: 3px solid #E66161;
		}
		
		p {
			font-size: 10px;
			line-height: 19px;
			
			@include breakpoint(medium) {
				font-size: 12px;
				line-height: 23px;
				column-count: 2;
				column-gap: 30px;
				
			}
			
			@include breakpoint(large) {
				font-size: 14px;
			}
		}
	}
	
	.article-textAuthor {
		font-family: "dense";
		color: #E66161;
		font-size: 17px;
		padding: 30px 0;
		
		p {
			text-align: right;
		}
		
		p:before {
			content: '-';
		}
	}
}



// ---------------------- IMG ------------------------


.article-img {
	display: flex;
	flex-direction: column;
	height: 80%;
	border: 3px solid #E66161;
	overflow: scroll;
	margin: 0 10px 10px 0;
	
	@include breakpoint(large) {
		height: calc(100% - 40px);
		margin: 20px 20px 20px 0;
	}
	
	img {
		height: auto;
		max-width: 100%;
		min-width: 100%;
	}
}




